<html xmlns:th="http;//www.thymeleaf.org">

<head>
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>MyAnimeList</title>
</head>

<body>
<div class="container">
    <nav class = "navbar navbar-expand-sm navbar-dark bg-secondary">
        <a class = "navbar-brand" href = "homepage-static.html">MyAnimeList</a>
        <button class = "navbar-toggler" type = "button" data-toggle = "collapse"
                data-target = "#navbarSupportedContent"
                aria-controls = "navbarSupportedContent" aria-expanded = "false"
                aria-label = "Toggle navigation">
            <span class = "navbar-toggler-icon"></span>
        </button>

        <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
            <ul class = "navbar-nav mr-auto">
                <li class = "nav-item">
                    <a class = "nav-link active" href = "/">Home</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "/MyAnimeList">MyAnimeList</a>
                </li>
                <li class = "nav-item ">
                    <a class = "nav-link" href = "/submitNew">SubmitNew</a>
                </li>
            </ul>
        </div>
    </nav>
    <h2  class = "mt-4">MyAnimeList</h2>
    <table class="table" style="table-layout: fixed;">
        <thead class="thead-light">
        <tr>
            <th class="text-left">Cover</th>
            <th class="text-left">Title</th>
            <th class="text-left">Rating</th>
            <th class="text-left">Comment</th>
            <th class="text-left"></th>
            <th class="text-left"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="anime: ${animelist}">
            <td style="vertical-align: middle;">
                <div>
                    <img style="max-height: 140px; overflow: hidden; width: auto; display: block; margin: 0 auto;" th:src="${anime.imageUrl}" class="rounded" alt="cover">
                </div>
            </td>
            <td style="vertical-align: middle;" th:text="${anime.title}">OPM</td>
            <td style="vertical-align: middle;" th:text="${anime.rating}">10</td>
            <td style="vertical-align: middle;" th:text="${anime.comment}">the best</td>
            <td style="vertical-align: middle;"><a th:href="@{/updateAnime(id=${anime.id})}" href="#" class="btn btn-info" style="width: 90px;" role="button">Update</a></td>
            <td style="vertical-align: middle;"><a th:href="@{/deleteAnime(id=${anime.id})}" href="#" class="btn btn-danger" style="width: 90px;" role="button">Delete</a></td>

        </tr>
        </tbody>
    </table>

    <hr/>
    <div >
        <div>Number of Anime I watched: <span th:text="${numberOfAnime}"></span> </div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>